<main>
    {{#each articles as |article|}}
    <article>
        <div>
            <h3>{{article.title}}</h3>
            <h5>Posted by {{article.user}} on {{article.date}}</h5>
            <p>{{article.content}}</p>
        </div>
        {{#each article.comments as |comment|}}
        <div class="comments">
            <p>{{comment.content}}</p>
            <p class="commentInfo">- {{comment.user}}, {{comment.date}}</p>
        </div>
        {{/each}}
    </article>
    {{/each}}
</main>